.container {
  max-width: 1170px;
  margin: auto;
}

body {
  margin: 0;
  font-family: sans-serif;
}

::-webkit-scrollbar {
  display: none;
  opacity: 0;
  visibility: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  display: inline-block;
  text-decoration: none;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style-type: none;
}

.col-4 {
  width: 33.33%;
}

.none {
  display: none;
}

.active-route {
  display: block;
}

.preloader {
  position: fixed;
  left: auto;
  top: 0;
  right: 0;
  bottom: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 3;
  width: 100vw;
  height: 100vh;
  background-color: #fff;
  animation: 1s overlay 2.5s linear forwards;
}

.preloader h1 {
  font-family: "Poppins";
  font-weight: 700;
  font-size: 72px;
  font-style: normal;
  animation: 1s fontSize 0s ease-in-out forwards;
}

.preloader span {
  color: red;
}

@keyframes overlay {
  from {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  to {
    opacity: 0;
    visibility: hidden;
  }
}

@keyframes fontSize {
  from {
    font-size: 372px;
  }
  to {
    font-size: 72px;
  }
}

.header {
  position: relative;
  font-family: "Poppins";
  font-weight: 400;
  font-size: 24px;
  font-style: normal;
}

.header::before, .header::after {
  content: "";
  position: absolute;
  left: auto;
  top: 50px;
  right: 0;
  bottom: auto;
  width: 100%;
  height: 1px;
  background-color: #eeeeee;
}

.header::after {
  top: 150px;
}

.header-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 100px;
}

.burger-menu {
  width: 28px;
  cursor: pointer;
}

.burger-menu span {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 2px;
  background-color: #7b7b7b;
  transition: 0.3s;
}

.burger-menu span::before, .burger-menu span::after {
  content: "";
  position: absolute;
  height: inherit;
  background-color: inherit;
  transition: 0.3s;
}

.burger-menu span::before {
  width: 28px;
  transform: translateY(-5px);
}

.burger-menu span::after {
  width: 14px;
  transform: translateY(5px);
}

.burger-menu:hover span {
  width: 28px;
}

.burger-menu:hover span::after {
  width: 28px;
}

.footer {
  padding: 100px 0;
  background-color: #f9f9f9;
  text-align: center;
}

.footer__title {
  font-family: "Poppins";
  font-weight: 500;
  font-size: 35px;
  font-style: normal;
  margin: 0;
  line-height: 40px;
  color: #293341;
}

.footer__form {
  position: relative;
  width: 700px;
  margin: 40px auto 60px;
  display: flex;
}

.footer__label {
  position: relative;
  width: 500px;
  overflow: hidden;
  z-index: 1;
}

.footer__label::before {
  content: "";
  position: absolute;
  left: auto;
  top: 0;
  right: 0;
  bottom: auto;
  width: 0;
  height: 100%;
  background-color: #293341;
  z-index: 3;
  transition: 0.3s;
}

.footer__label.is-active::before {
  animation: wave 1s ease-in-out;
}

.footer__input {
  font-family: "Poppins";
  font-weight: 300;
  font-size: 16px;
  font-style: normal;
  position: relative;
  display: inline-block;
  padding: 20px;
  box-sizing: border-box;
  outline: none;
  border: none;
  width: 100%;
}

.footer__btn {
  font-family: "Poppins";
  font-weight: 400;
  font-size: 16px;
  font-style: normal;
  position: relative;
  box-sizing: border-box;
  padding: 20px 55px;
  margin-left: -1px;
  outline: none;
  border: none;
  background-color: #fff;
  transition: 0.3s;
  z-index: 1;
  cursor: pointer;
}

.footer__btn::before {
  content: "";
  position: absolute;
  left: auto;
  top: 0;
  right: 0;
  bottom: auto;
  width: 0;
  height: 100%;
  background-color: #293341;
  z-index: -1;
  transition: 0.3s;
}

.footer__btn:hover {
  color: #fff;
}

.footer__btn:hover::before {
  width: 100%;
}

.footer__nav ul {
  padding: 0;
  justify-content: center;
}

.footer__nav li:first-child {
  margin-left: 0 !important;
}

.footer__nav li:not(:first-child) {
  margin-left: 85px !important;
}

.footer__nav a {
  color: #293341 !important;
  font-weight: 500;
}

.footer__copyright {
  display: inline-block;
  margin-top: 25px;
  font-size: 16px;
  line-height: 30px;
  color: #7b7b7b;
  font-weight: 300;
  font-family: "Poppins";
  text-align: center;
}

.social {
  margin-top: 65px;
  display: flex;
  justify-content: center;
}

.social a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 36px;
  height: 36px;
  border: 2px solid #eeeeee;
  padding: 10px;
  border-radius: 50%;
  color: #7b7b7b;
}

.social__item:not(:first-child) {
  margin-left: 15px !important;
}

@keyframes wave {
  from {
    width: 0%;
  }
  50% {
    width: 100%;
    transform: translateX(0);
  }
  60% {
    width: 100%;
  }
  70% {
    width: 100%;
  }
  80% {
    width: 100%;
  }
  90% {
    width: 100%;
  }
  to {
    width: 100%;
    transform: translateX(-100%);
  }
}
/*# sourceMappingURL=index.css.map */