.footer {
	padding: 100px 0;
	background-color: $whitish;
	text-align: center;
	&__title {
		@include font("Poppins", 35px, 500);
		margin: 0;
		line-height: 40px;
		color: #293341;
	}
	&__form {
		position: relative;
		width: 500px;
		margin: auto;
		display: flex;
	}
	&__label {
		position: relative;
		width: 500px;
		overflow: hidden;
		z-index: 1;
		&::before {
			content: "";
			@include position(absolute, 0, 0);
			width: 0;
			height: 100%;
			background-color: $darkGray;
			z-index: 3;
			transition: 0.3s;
		}
		&.is-active {
			&::before {
				animation: wave 1s ease-in-out;
			}
		}
	}
	&__input {
		@include font("Poppins", 16px, 300);
		position: relative;
		z-index: 2;
		display: inline-block;
		padding: 20px;
		box-sizing: border-box;
		outline: none;
		border: none;
		width: 100%;
	}
	&__btn {
		@include font("Poppins", 16px, 400);
		position: relative;
		box-sizing: border-box;
		padding: 20px 55px;
		margin-left: -1px;
		outline: none;
		border: none;
		background-color: $white;
		transition: 0.3s;
		z-index: 1;
		cursor: pointer;
		&::before {
			content: "";
			@include position(absolute, 0, 0);
			width: 0;
			height: 100%;
			background-color: $darkGray;
			z-index: -1;
			transition: 0.3s;
		}
		&:hover {
			color: $white;
			&::before {
				width: 100%;
			}
		}
	}
}

@keyframes wave {
	from {
		width: 0%;
	}
	50% {
		width: 100%;
		transform: translateX(0);
	}
	60% {
		width: 100%;
	}
	70% {
		width: 100%;
	}
	80% {
		width: 100%;
	}
	90% {
		width: 100%;
	}
	to {
		width: 100%;
		transform: translateX(-100%);
	}
}
