body {
	overflow: hidden;
}
.preloader {
	@include position(fixed, 0, 0);
	@include flexbox;
	z-index: 1;
	width: 100vw;
	height: 100vh;
	background-color: #fff;
	animation: 1s overlay 2.5s linear forwards;
	h1 {
		@include font("Poppins", 72px, 700);
		animation: 1s hatam 0s ease-in-out forwards;
	}
}

@keyframes overlay {
	from {
		left: 0;
		transform: rotate(0deg);
	}
	to {
		left: 100%;
		transform: rotate(90deg);
	}
}



@keyframes hatam {
	from {
		font-size: 372px;
	}
	to {
		font-size: 72px;
	}
}